<Ui xmlns="http://www.blizzard.com/wow/ui/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ..\FrameXML\UI.xsd">
	<CheckButton name="RMAConfigCheckButtonTemplate" inherits="InterfaceOptionsCheckButtonTemplate" virtual="true">
		<Size>
			<AbsDimension x="20" y="20" />
		</Size>
    </CheckButton>
	<!-- FontString Template -->
	<FontString name="RMAConfigFontStringTemplate" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" virtual="true">
		<Size>
			<AbsDimension x="185" y="0" />
		</Size>
	</FontString>
	<FontString name="RMAConfigDescriptionFontStringTemplate"
		inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" virtual="true">
		<Size>
			<AbsDimension x="390" y="24" />
		</Size>
		<Color r="0.55" g="0.55" b="0.55" a="1" />
	</FontString>
	<FontString name="RMAConfigCompactDescriptionFontStringTemplate"
		inherits="RMAConfigDescriptionFontStringTemplate" virtual="true">
		<Size>
			<AbsDimension x="390" y="18" />
		</Size>
	</FontString>
    <!-- Config frame -->
	<Frame name="RMAConfig" inherits="RMAWindowTemplate">
		<Size>
			<AbsDimension x="245" y="485" />
		</Size>
		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentsortAscendingStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT">
							<Offset>
								<AbsDimension x="35" y="-35" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentuseRaidWarningStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentsortAscendingStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentcountdownSimpleRaidMsgStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentuseRaidWarningStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentannounceOnWinStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentcountdownSimpleRaidMsgStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentannounceOnHoldStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentannounceOnWinStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentannounceOnBankStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentannounceOnHoldStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentannounceOnDisenchantStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentannounceOnBankStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentlootWhispersStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentannounceOnDisenchantStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentcountdownRollsBlockStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentlootWhispersStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentscreenReminderStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentcountdownRollsBlockStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentignoreStacksStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentscreenReminderStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentshowTooltipsStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentignoreStacksStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentshowLootCounterDuringMSRollStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentshowTooltipsStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentminimapButtonStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentshowLootCounterDuringMSRollStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentautoSpamLootOnLootOpenedStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentminimapButtonStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentautoSpamSoftResOnLootOpenedStr" inherits="RMAConfigFontStringTemplate">
					<Anchors>
						<Anchor point="TOPLEFT" relativeTo="$parentautoSpamLootOnLootOpenedStr" relativePoint="BOTTOMLEFT">
							<Offset>
								<AbsDimension x="0" y="-7.5" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
				<FontString name="$parentcountdownDurationStr" inherits="GameFontNormalSmall">
					<Anchors>
						<Anchor point="BOTTOM">
							<Offset>
								<AbsDimension x="0" y="45" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<CheckButton name="$parentsortAscending" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentsortAscendingStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentuseRaidWarning" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentuseRaidWarningStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
            </CheckButton>
			<CheckButton name="$parentcountdownSimpleRaidMsg" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentcountdownSimpleRaidMsgStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
            </CheckButton>
			<CheckButton name="$parentannounceOnWin" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentannounceOnWinStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentannounceOnHold" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentannounceOnHoldStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentannounceOnBank" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentannounceOnBankStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentannounceOnDisenchant" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentannounceOnDisenchantStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentlootWhispers" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentlootWhispersStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentcountdownRollsBlock" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentcountdownRollsBlockStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentscreenReminder" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentscreenReminderStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentignoreStacks" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentignoreStacksStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentshowTooltips" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentshowTooltipsStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentshowLootCounterDuringMSRoll" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentshowLootCounterDuringMSRollStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>

			<CheckButton name="$parentminimapButton" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentminimapButtonStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentautoSpamLootOnLootOpened" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentautoSpamLootOnLootOpenedStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<CheckButton name="$parentautoSpamSoftResOnLootOpened" inherits="RMAConfigCheckButtonTemplate">
				<Anchors>
					<Anchor point="TOPRIGHT" relativeTo="$parentautoSpamSoftResOnLootOpenedStr" relativePoint="TOPLEFT">
						<Offset>
							<AbsDimension x="-2.5" y="5" />
						</Offset>
					</Anchor>
				</Anchors>
			</CheckButton>
			<Slider name="$parentcountdownDuration" inherits="OptionsSliderTemplate"
				minValue="3.0" maxValue="60.0" defaultValue="5.0" valueStep="1.0">
				<Size>
					<AbsDimension x="180" y="15" />
				</Size>
				<Anchors>
					<Anchor point="BOTTOM">
						<Offset>
							<AbsDimension x="0" y="60" />
						</Offset>
					</Anchor>
				</Anchors>
            </Slider>
			<Button name="$parentDefaultsBtn" inherits="RMAActionButtonTemplate">
				<Size>
					<AbsDimension x="105" y="25" />
				</Size>
				<Anchors>
					<Anchor point="BOTTOMLEFT" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="10" y="12.5" />
						</Offset>
					</Anchor>
				</Anchors>
			</Button>
			<Button name="$parentCloseBtn" inherits="RMAActionButtonTemplate">
				<Size>
					<AbsDimension x="105" y="25" />
				</Size>
				<Anchors>
					<Anchor point="BOTTOMRIGHT" relativePoint="BOTTOMRIGHT">
						<Offset>
							<AbsDimension x="-10" y="12.5" />
						</Offset>
					</Anchor>
				</Anchors>
            </Button>
		</Frames>
    </Frame>
    <!-- ====== End of Config Frame ====== -->
    <!-- Blizzard Interface Options parent panel -->
	<Frame name="RMAInterfaceOptionsPanel" parent="UIParent" hidden="true">
		<Size>
			<AbsDimension x="560" y="560" />
		</Size>
		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentTitle" inherits="GameFontNormalLarge" justifyH="LEFT" />
								<FontString name="$parentOverviewTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentOverviewBody" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentWhatTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentWhatBody" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentHowTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentHowBody" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentWhyTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentWhyBody" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
			</Layer>
		</Layers>
	</Frame>
    <!-- Blizzard Interface Options Master Loot panel -->
	<Frame name="RMAInterfaceOptionsMasterLootPanel" parent="UIParent" hidden="true">
		<Size>
			<AbsDimension x="560" y="560" />
		</Size>
		<Frames>
			<ScrollFrame name="$parentScrollFrame" inherits="RMAOptionsScrollFrameTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" />
					<Anchor point="BOTTOMRIGHT">
						<Offset>
							<AbsDimension x="-42" y="36" />
						</Offset>
					</Anchor>
				</Anchors>
				<ScrollChild>
					<Frame name="RMAInterfaceOptionsMasterLootPanelScrollChild">
						<Size>
							<AbsDimension x="520" y="940" />
						</Size>
		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentTitle" inherits="GameFontNormalLarge" justifyH="LEFT" />
				<FontString name="$parentsortAscendingStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentsortAscendingDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentuseRaidWarningStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentuseRaidWarningDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentcountdownSimpleRaidMsgStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentcountdownSimpleRaidMsgDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentannounceOnWinStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentannounceOnWinDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentannounceOnHoldStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentannounceOnHoldDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentannounceOnBankStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentannounceOnBankDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentannounceOnDisenchantStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentannounceOnDisenchantDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentlootWhispersStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentlootWhispersDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentcountdownRollsBlockStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentcountdownRollsBlockDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentscreenReminderStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentscreenReminderDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentignoreStacksStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentignoreStacksDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentshowTooltipsStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentshowTooltipsDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentshowLootCounterDuringMSRollStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentshowLootCounterDuringMSRollDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentminimapButtonStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentminimapButtonDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentautoMasterLootOnBossTargetStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentautoMasterLootOnBossTargetDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentautoMasterLootNoticeSecondsStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentautoMasterLootNoticeSecondsDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentaskGroupLootAfterBossLootStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentaskGroupLootAfterBossLootDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentautoSpamLootOnLootOpenedStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentautoSpamLootOnLootOpenedDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentautoSpamSoftResOnLootOpenedStr" inherits="RMAConfigFontStringTemplate" />
				<FontString name="$parentautoSpamSoftResOnLootOpenedDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentcountdownDurationStr" inherits="GameFontNormalSmall" />
				<FontString name="$parentcountdownDurationDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
				<FontString name="$parentPresetsTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
				<FontString name="$parentDefaultsPresetTitle" inherits="GameFontHighlightSmall" justifyH="LEFT" />
				<FontString name="$parentDefaultsPresetDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
				<FontString name="$parentQuietPresetTitle" inherits="GameFontHighlightSmall" justifyH="LEFT" />
				<FontString name="$parentQuietPresetDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
				<FontString name="$parentStandardPresetTitle" inherits="GameFontHighlightSmall" justifyH="LEFT" />
				<FontString name="$parentStandardPresetDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
				<FontString name="$parentVerbosePresetTitle" inherits="GameFontHighlightSmall" justifyH="LEFT" />
				<FontString name="$parentVerbosePresetDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
				<FontString name="$parentAnnouncementPreviewTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
				<FontString name="$parentAnnouncementPreviewBody" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
			</Layer>
		</Layers>
		<Frames>
			<CheckButton name="$parentsortAscending" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentuseRaidWarning" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentcountdownSimpleRaidMsg" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentannounceOnWin" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentannounceOnHold" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentannounceOnBank" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentannounceOnDisenchant" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentlootWhispers" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentcountdownRollsBlock" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentscreenReminder" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentignoreStacks" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentshowTooltips" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentshowLootCounterDuringMSRoll" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentminimapButton" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentautoMasterLootOnBossTarget" inherits="RMAConfigCheckButtonTemplate" />
			<EditBox name="$parentautoMasterLootNoticeSecondsEditBox" inherits="RMATextInputTemplate" letters="5" />
			<CheckButton name="$parentaskGroupLootAfterBossLoot" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentautoSpamLootOnLootOpened" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentautoSpamSoftResOnLootOpened" inherits="RMAConfigCheckButtonTemplate" />
			<Slider name="$parentcountdownDuration" inherits="OptionsSliderTemplate"
				minValue="3.0" maxValue="60.0" defaultValue="5.0" valueStep="1.0" />
			<Button name="$parentDefaultsBtn" inherits="RMAActionButtonTemplate" />
			<Button name="$parentQuietPresetBtn" inherits="RMAActionButtonTemplate" />
			<Button name="$parentStandardPresetBtn" inherits="RMAActionButtonTemplate" />
			<Button name="$parentVerbosePresetBtn" inherits="RMAActionButtonTemplate" />
		</Frames>
					</Frame>
				</ScrollChild>
			</ScrollFrame>
		</Frames>
	</Frame>
	<!-- Blizzard Interface Options QuickBar panel -->
	<Frame name="RMAInterfaceOptionsQuickBarPanel" parent="UIParent" hidden="true">
		<Size>
			<AbsDimension x="560" y="560" />
		</Size>
		<Frames>
			<ScrollFrame name="$parentScrollFrame" inherits="RMAOptionsScrollFrameTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" />
					<Anchor point="BOTTOMRIGHT">
						<Offset>
							<AbsDimension x="-42" y="36" />
						</Offset>
					</Anchor>
				</Anchors>
				<ScrollChild>
					<Frame name="RMAInterfaceOptionsQuickBarPanelScrollChild">
						<Size>
							<AbsDimension x="520" y="420" />
						</Size>
						<Layers>
							<Layer level="ARTWORK">
								<FontString name="$parentTitle" inherits="GameFontNormalLarge" />
								<FontString name="$parentOrientationStr" inherits="RMAConfigFontStringTemplate" />
								<FontString name="$parentOrientationDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
								<FontString name="$parentShowMLStr" inherits="RMAConfigFontStringTemplate" />
								<FontString name="$parentShowMLDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
								<FontString name="$parentShowGLStr" inherits="RMAConfigFontStringTemplate" />
								<FontString name="$parentShowGLDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
								<FontString name="$parentShowSRStr" inherits="RMAConfigFontStringTemplate" />
								<FontString name="$parentShowSRDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
								<FontString name="$parentShowHISStr" inherits="RMAConfigFontStringTemplate" />
								<FontString name="$parentShowHISDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
								<FontString name="$parentShowRWStr" inherits="RMAConfigFontStringTemplate" />
								<FontString name="$parentShowRWDesc" inherits="RMAConfigCompactDescriptionFontStringTemplate" />
							</Layer>
						</Layers>
						<Frames>
							<Frame name="$parentOrientationDropDown" inherits="UIDropDownMenuTemplate" />
							<CheckButton name="$parentShowML" inherits="RMAConfigCheckButtonTemplate" />
							<CheckButton name="$parentShowGL" inherits="RMAConfigCheckButtonTemplate" />
							<CheckButton name="$parentShowSR" inherits="RMAConfigCheckButtonTemplate" />
							<CheckButton name="$parentShowHIS" inherits="RMAConfigCheckButtonTemplate" />
							<CheckButton name="$parentShowRW" inherits="RMAConfigCheckButtonTemplate" />
						</Frames>
					</Frame>
				</ScrollChild>
			</ScrollFrame>
		</Frames>
	</Frame>
    <!-- Blizzard Interface Options Loot History panel -->
	<Frame name="RMAInterfaceOptionsLootHistoryPanel" parent="UIParent" hidden="true">
		<Size>
			<AbsDimension x="560" y="560" />
		</Size>
		<Frames>
			<ScrollFrame name="$parentScrollFrame" inherits="RMAOptionsScrollFrameTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" />
					<Anchor point="BOTTOMRIGHT">
						<Offset>
							<AbsDimension x="-42" y="36" />
						</Offset>
					</Anchor>
				</Anchors>
				<ScrollChild>
					<Frame name="RMAInterfaceOptionsLootHistoryPanelScrollChild">
						<Size>
							<AbsDimension x="520" y="980" />
						</Size>
						<Layers>
							<Layer level="ARTWORK">
								<FontString name="$parentTitle" inherits="GameFontNormalLarge" justifyH="LEFT" />
								<FontString name="$parentReportTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentReportSummary" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentIgnoreGroupLootStr" inherits="RMAConfigFontStringTemplate" />
								<FontString name="$parentIgnoreGroupLootDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
								<FontString name="$parentIgnoreSelectionThresholdStr" inherits="RMAConfigFontStringTemplate" />
								<FontString name="$parentIgnoreSelectionThresholdDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
								<FontString name="$parentLoggerLootQualityTitle" inherits="GameFontHighlightSmall" justifyH="LEFT" />
								<FontString name="$parentLoggerLootQualityDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
								<FontString name="$parentDataHealthTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentScanHistoryTitle" inherits="GameFontHighlightSmall" justifyH="LEFT" />
								<FontString name="$parentScanHistoryDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
								<FontString name="$parentMaintenanceTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentPurgeHistoryTitle" inherits="GameFontHighlightSmall" justifyH="LEFT" />
								<FontString name="$parentPurgeHistoryDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
								<FontString name="$parentRebuildSourcesTitle" inherits="GameFontHighlightSmall" justifyH="LEFT" />
								<FontString name="$parentRebuildSourcesDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
								<FontString name="$parentCleanUpTitle" inherits="GameFontHighlightSmall" justifyH="LEFT" />
								<FontString name="$parentCleanUpDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
							</Layer>
						</Layers>
						<Frames>
							<CheckButton name="$parentIgnoreGroupLootCheck" inherits="RMAConfigCheckButtonTemplate" />
							<CheckButton name="$parentIgnoreSelectionThresholdCheck" inherits="RMAConfigCheckButtonTemplate" />
							<Frame name="$parentLoggerLootQualityDropDown" inherits="UIDropDownMenuTemplate">
							</Frame>
							<Button name="$parentScanHistoryBtn" inherits="RMAActionButtonTemplate" />
							<Button name="$parentPurgeHistoryBtn" inherits="RMAActionButtonTemplate" />
							<Button name="$parentRebuildSourcesBtn" inherits="RMAActionButtonTemplate" />
							<Button name="$parentCleanUpBtn" inherits="RMAActionButtonTemplate" />
						</Frames>
					</Frame>
				</ScrollChild>
			</ScrollFrame>
		</Frames>
	</Frame>
    <!-- Blizzard Interface Options LFM Spam panel -->
	<Frame name="RMAInterfaceOptionsLFMSpamPanel" parent="UIParent" hidden="true">
		<Size>
			<AbsDimension x="560" y="560" />
		</Size>
		<Frames>
			<ScrollFrame name="$parentScrollFrame" inherits="RMAOptionsScrollFrameTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" />
					<Anchor point="BOTTOMRIGHT">
						<Offset>
							<AbsDimension x="-42" y="36" />
						</Offset>
					</Anchor>
				</Anchors>
				<ScrollChild>
					<Frame name="RMAInterfaceOptionsLFMSpamPanelScrollChild">
						<Size>
							<AbsDimension x="520" y="500" />
						</Size>
						<Layers>
							<Layer level="ARTWORK">
								<FontString name="$parentTitle" inherits="GameFontNormalLarge" justifyH="LEFT" />
								<FontString name="$parentMessagePreviewTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentMessagePreviewBody" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentSafetyTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentSafetyBody" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
							</Layer>
						</Layers>
						<Frames>
							<Button name="$parentRefreshPreviewBtn" inherits="RMAActionButtonTemplate" />
							<Button name="$parentClearPreviewBtn" inherits="RMAActionButtonTemplate" />
							<Button name="$parentOpenBtn" inherits="RMAActionButtonTemplate" />
							<Button name="$parentStartBtn" inherits="RMAActionButtonTemplate" />
							<Button name="$parentStopBtn" inherits="RMAActionButtonTemplate" />
						</Frames>
					</Frame>
				</ScrollChild>
			</ScrollFrame>
		</Frames>
	</Frame>
    <!-- Blizzard Interface Options Raid Warning panel -->
	<Frame name="RMAInterfaceOptionsRaidWarningPanel" parent="UIParent" hidden="true">
		<Size>
			<AbsDimension x="560" y="560" />
		</Size>
		<Frames>
			<ScrollFrame name="$parentScrollFrame" inherits="RMAOptionsScrollFrameTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" />
					<Anchor point="BOTTOMRIGHT">
						<Offset>
							<AbsDimension x="-42" y="36" />
						</Offset>
					</Anchor>
				</Anchors>
				<ScrollChild>
					<Frame name="RMAInterfaceOptionsRaidWarningPanelScrollChild">
						<Size>
							<AbsDimension x="520" y="560" />
						</Size>
						<Layers>
							<Layer level="ARTWORK">
								<FontString name="$parentTitle" inherits="GameFontNormalLarge" justifyH="LEFT" />
								<FontString name="$parentTemplatesTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentTemplatesBody" inherits="RMAConfigDescriptionFontStringTemplate" />
								<FontString name="$parentPreviewTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentPreviewBody" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentPermissionTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentPermissionBody" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentMaintenanceTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentClearSavedTitle" inherits="GameFontHighlightSmall" justifyH="LEFT" />
								<FontString name="$parentClearSavedDesc" inherits="RMAConfigDescriptionFontStringTemplate" />
							</Layer>
						</Layers>
						<Frames>
							<Button name="$parentPreviewBtn" inherits="RMAActionButtonTemplate" />
							<Button name="$parentOpenBtn" inherits="RMAActionButtonTemplate" />
							<Button name="$parentClearSavedBtn" inherits="RMAActionButtonTemplate" />
						</Frames>
					</Frame>
				</ScrollChild>
			</ScrollFrame>
		</Frames>
	</Frame>
    <!-- Blizzard Interface Options Help panel -->
	<Frame name="RMAInterfaceOptionsHelpPanel" parent="UIParent" hidden="true">
		<Size>
			<AbsDimension x="560" y="560" />
		</Size>
		<Frames>
			<ScrollFrame name="$parentScrollFrame" inherits="RMAOptionsScrollFrameTemplate">
				<Anchors>
					<Anchor point="TOPLEFT" />
					<Anchor point="BOTTOMRIGHT">
						<Offset>
							<AbsDimension x="-42" y="36" />
						</Offset>
					</Anchor>
				</Anchors>
				<ScrollChild>
					<Frame name="RMAInterfaceOptionsHelpPanelScrollChild">
						<Size>
							<AbsDimension x="520" y="760" />
						</Size>
						<Layers>
							<Layer level="ARTWORK">
								<FontString name="$parentTitle" inherits="GameFontNormalLarge" justifyH="LEFT" />
								<FontString name="$parentMasterLootTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentMasterLootBody" inherits="GameFontHighlightSmall"
									justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentLootHistoryTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentLootHistoryBody" inherits="GameFontHighlightSmall"
									justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentLFMSpamTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentLFMSpamBody" inherits="GameFontHighlightSmall"
									justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentRaidWarningTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentRaidWarningBody" inherits="GameFontHighlightSmall"
									justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentCommandPermissionsTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentCommandPermissionsBody" inherits="GameFontHighlightSmall"
									justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentDiagnosticsTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentDiagnosticsBody" inherits="GameFontHighlightSmall"
									justifyH="LEFT" justifyV="TOP" />
								<FontString name="$parentCommandsTitle" inherits="GameFontNormalSmall" justifyH="LEFT" />
								<FontString name="$parentCommandsBody" inherits="GameFontHighlightSmall"
									justifyH="LEFT" justifyV="TOP" />
							</Layer>
						</Layers>
					</Frame>
				</ScrollChild>
			</ScrollFrame>
		</Frames>
	</Frame>
	<Frame name="RMALootHistoryCleanupPopup" inherits="RMADialogTemplate" parent="UIParent" hidden="true"
		frameStrata="DIALOG" toplevel="true">
		<Size>
			<AbsDimension x="380" y="340" />
		</Size>
		<Anchors>
			<Anchor point="CENTER" />
		</Anchors>
		<Layers>
			<Layer level="ARTWORK">
				<FontString name="$parentTitle" inherits="GameFontNormal" justifyH="CENTER" />
				<FontString name="$parentBody" inherits="GameFontHighlightSmall" justifyH="LEFT" justifyV="TOP" />
				<FontString name="$parentEmptyRaidsLabel" inherits="GameFontHighlightSmall" justifyH="LEFT" />
				<FontString name="$parentEmptyRaidsDesc" inherits="GameFontHighlightSmall" justifyH="LEFT"
					justifyV="TOP">
					<Color r="0.55" g="0.55" b="0.55" a="1" />
				</FontString>
				<FontString name="$parentNonEpicLootLabel" inherits="GameFontHighlightSmall" justifyH="LEFT" />
				<FontString name="$parentNonEpicLootDesc" inherits="GameFontHighlightSmall" justifyH="LEFT"
					justifyV="TOP">
					<Color r="0.55" g="0.55" b="0.55" a="1" />
				</FontString>
				<FontString name="$parentNoBossEncounterLabel" inherits="GameFontHighlightSmall" justifyH="LEFT" />
				<FontString name="$parentNoBossEncounterDesc" inherits="GameFontHighlightSmall" justifyH="LEFT"
					justifyV="TOP">
					<Color r="0.55" g="0.55" b="0.55" a="1" />
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<CheckButton name="$parentEmptyRaidsCheck" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentNonEpicLootCheck" inherits="RMAConfigCheckButtonTemplate" />
			<CheckButton name="$parentNoBossEncounterCheck" inherits="RMAConfigCheckButtonTemplate" />
			<Button name="$parentDeleteBtn" inherits="RMAActionButtonTemplate" />
			<Button name="$parentCancelBtn" inherits="RMAActionButtonTemplate" />
		</Frames>
	</Frame>
</Ui>

